
body{

padding: 0;
margin: 0;
font-family: 'Roboto', sans-serif;
}
.hautpage nav{
  background-color: #160400;
  text-align: center;
  padding: 20px;
 }
.hautpage nav ul li {
list-style: none;
display: block;
display: inline;
margin: 50px;

}

nav a{
text-decoration: none;
color: white;
}


a:hover{
  background: white;
  padding: 15px;
  

}


.loging{

height:22px ;
width:22px ;
position: absolute;
bottom: 89.95%;
right: 521px;
border-radius: 50px;
background-image: #ff3333;
cursor: pointer;

}

.log{

  position: absolute;
  bottom: 89.65%;
  right: 445px;
  color: #B22222;
  cursor: pointer;
}

.log:hover{
color: 	 #ff3333;
}

.hove{

color: gray;
}

.artiste{

  position: absolute;
  bottom: 89.0%;
  right: 1500px;
  color: #fff;
  cursor: pointer;
}

.artiste:hover{

color: #B22222 ;

}

.logo{

height: 50px;

}

/*-----------haut--page------------*/

/*-----------section1------------*/
.section1  #image4{

height:900px;
width: 1000px;
}


.section1 .stars{

position: absolute;
bottom: 55%;
right: 950px;
color: white;
font-size: 80px;
font-weight: bold;


}

.section1  .OUT{

  position: absolute;
  bottom: 75%;
  right: 950px;
  font-size: 20px;
  font-weight: bold;
}

.section1  .Experience{


  position: absolute;
  bottom: 50%;
  right: 980px;
  font-size: 22px;
  font-weight: bold;
  color: white;
}

.section1  .button{

  position: absolute;
  bottom: 45%;
  right: 1200px;
  padding: 15px;
  height:49px;
  width: 150px;
  background: 	 #ff3333;
  color: #fff;
  list-style: none;
  border-radius: 1px;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  display: flex;

}

.button:hover{

  background:black;
  border:1px solid black;


}


/*----------------footer------------------------*/

.wrap .footer{


height:200px;
width:1903px ;
background: #160400;

}


.now .text{

position: absolute;
bottom: -20%;
right: 985px;
width:400px;
height:35px ;
background: black;
color: white;
border: 1px solid white;
}


.wrap  .buton1{

  position: absolute;
  bottom: -27%;
  right: 985px;
  width:400px;
  background: 	 #ff3333;
  padding: 8px;
  color: #fff;
  font-weight: bold;
  border:1px solid black;

}

.buton1:hover{

background: black;

}

.wrap .copy{

  position: absolute;
  bottom: -23%;
  right: 400px;
  width:400px;
  color: gray;


}

.wrap .Get{


  position: absolute;
  bottom: -17%;
  right: 980px;
  width:400px;
  color: white;
  font-weight: bold;
  font-size: 17px;
}



/*-----------------------social-------------------------------*/

  .fa-facebook{

    position: absolute;
    bottom: 55%;
    background:cornflowerblue;
    color: white;
     padding: 15px;
     text-align: center;
     left: -5px;
    text-transform: uppercase;
    position: fixed;
    height:50px ;
    width: 50px;
   border-bottom: 1px solid rgba(0,0,0,.5);
  box-shadow: 0 0 1px 1px rgba(0,0,0,10);
  }
  
  
  .fa-facebook:hover{
    z-index: 10;
    width: 70px;
    
   }
  
  
  
  .fa-twitter{
  
    position: absolute;
    bottom: 50%;
    background:deepskyblue;
      color:white ;
     padding: 15px;
     text-align: center;
     left: -5px;
     text-transform: uppercase;
     position: fixed;
     height:50px ;
     width: 50px;
     box-shadow: 0 0 1px 1px rgba(0,0,0,10);
     box-shadow: 0 0 1px 1px rgba(0,0,0,10);
  }
  
  .fa-twitter:hover{
    z-index: 10;
    width: 70px;
   }
  
  
  
  .fa-instagram{
  
    position: absolute;
    bottom: 60%;
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);;
    color: white;
     padding: 15px;
     width: 100px;
     text-align: center;
     left: -5px;
     text-transform: uppercase;
     letter-spacing: 1px;
     position: fixed;
     height:50px ;
     width: 51px;
     box-shadow: 0 0 1px 1px rgba(0,0,0,3);
     box-shadow: 0 0 1px 1px rgba(0,0,0,10);
  }
  
  
  .fa-instagram:hover{
    z-index: 10;
    width: 70px;
   }
  
  
  
  
  
  .fa-youtube{
  
    position: absolute;
    bottom: 65%;
    background:rgba(255, 0, 0, 0.836);
    color:white;
     padding: 15px;
    left: -5px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
  
    height:50px ;
    width: 51px;
   position: fixed;
   box-shadow: 0 0 1px 1px rgba(0,0,0,1);
   box-shadow: 0 0 1px 1px rgba(0,0,0,10);
  }
  
  .fa-youtube:hover{
    z-index: 10;
    width: 70px;
   
   }
  
  
   .fa-pinterest{
  
    position: absolute;
    bottom: 45%;
    background:orange;
    color:white;
     padding: 15px;
    left: -5px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
  
    height:50px ;
    width: 50px;
   position: fixed;
   box-shadow: 0 0 1px 1px rgba(0,0,0,3);
   box-shadow: 0 0 1px 1px rgba(0,0,0,10);
  
  }
  
  
  .fa-pinterest:hover{
    z-index: 10;
    width: 70px;
   }
  
  
  .fa-google{
  
    position: absolute;
    bottom: 40%;
    background:rgba(255, 0, 0, 0.836);
    color:white;
     padding: 15px;
    left: -5px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
  
    height:50px ;
    width: 50px;
   position: fixed;
   box-shadow: 0 0 1px 1px rgba(0,0,0,1);
   box-shadow: 0 0 1px 1px rgba(0,0,0,10);
  
  }
  
  .fa-google:hover{
    z-index: 10;
    width: 70px;
   }

/*------------aplication----audio------------------*/


.père{

	position: absolute;
  bottom: 39%;
  right: 450px;
  box-shadow: 1px 1px 6px gray;

}

#hero-overlay{
	position: absolute;
	
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	z-index: -5;
}

.tittre-page{
	text-align: center;
	background:#160400 ;
	color: yellow;
	text-shadow: 0 0 20px #ff005b;

}

.music-container{
	font-family: sans-serif;
	width: 350px;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	display: block;
	position: absolute;
	background: gray   ;
}

.music-header{
	width: 100%;
	height: 70px;
	border-bottom: 1px solid #555;
	background:#FF8C00 ;
}

.music-header .fa-angle-left{
	float: left;
	margin-top: 15px;
	margin-left: 10px;
	cursor: pointer;
}

.music-header .fa-search{
	float: right;
	margin-top: 15px;
	margin-right: 10px;
	cursor: pointer;
}

.music-header .title{

width: 250px;
height: 30px;
position: absolute;
margin-left: 30px;
margin-top: 10px;
text-align: center;
padding-left: 10px;
}

.music-playlist{
	width: 100%;
	height: 450px;
}

.music-menu{
	width: 100%;
	height: 28px;
}
.menu{
	width: 275px;
	height: 16px;
	margin: 15px 30px auto;
	border: 1px solid #fff;
}

.menu ul{
	font-size: 10px;
	padding: initial;
}

.menu ul li{
	list-style-type: none;
	display: inline-block;
	border-right: 1px solid #fff;
}

.menu ul li a{
	color: #fff;
	padding: 5px 15px;
	text-decoration: none;
	letter-spacing: 0.5px;
}

.menu ul li:last-child{
	border-right: none;
}

.music-box{
	width: 100%;
	height: 410px;
	overflow: scroll;
	overflow-x: hidden;
}


.music-box::webkit-scrollbar{
	width: 0px;
	background: transparent;
}
 
.music-box .fa-ellipsis-v{
	margin-right: 10px;
	margin-top: 22px;
	font-weight: normal;
	color: red;
	cursor: pointer;
}


.music-info{
	width: 100%;
	height: 50px;
	display: flex;
}

.music-img{
	width: 50px;
	height: 50px;
}

.music-img img{
	width: 40px;
	height: 40px;
	margin: 2px 5px;
	padding: 1px;
}

.music-name{
	width: 300px;
	padding: 0 5px;
	height: 50px;
}

.music-name h6{
	margin-top: 7px;
	font-size: 15px;
	font-weight: normal;
	letter-spacing: 0.5px;
	cursor: pointer;
	line-height: 15px;
}

.music-name p{
	font-size: 10px;
	line-height: 1px;
	letter-spacing: 0.5px;
	color: #fff;
	cursor: pointer;
	line-height: 15px;
}

hr{
	width: 95%;
	margin-top: 4px !important;
	margin-bottom: 6px !important;
}

.music-play{
	width: 100%;
	height: 60px;
	display: flex;
	background:#FF8C00 ;
}

.play-image img{

	width: 50px;
	height: 48px;
	margin: 5px;
	border-radius: 5px;
}

.play-controls{
	width: 300px;
	height: 60px;
}


.controls{
	width: 285px;
	height: 50px;
	display: flex;

}

.song-name{
	width: 150px;
	height: 50px;
}

.song-name h5{
	margin-top: 20px;
	margin-left: 10px;
	font-size: normal;
	letter-spacing: 0.5px;
	line-height: 6px;
}

.song-name p{
	font-size: 10px;
	margin-left: 10px;
	border-left: 0.5px;
	color: #ccc;
}

.play-icon{
	width: 150px;
	height: 50px;
}

.play-icon{
	width: 150px;
	height: 50px;
}

.play-icon .fa{
	width: 30px;
	height: 30px;
	font-size: 13px;
	color: #FFF;
	border-radius: 50%;
	background-color: #999 ;
	margin: 15px 13px 0 auto;
	padding: 9px 11px;
	cursor: pointer;
}

.play-icon .fa-play{
	background-color: #fff;
}

.music-progress{
	width: 260px;
	margin-left: 10px;
}

.music-progress .progress{
	height: 2px !important;
	border-radius: 0 !important;
	background-color:#999 ;
}

.music-progress .progress-br{
	width: 0%;
	background-color: #fff;
	animation: width 10s infinite;
}





audio{

  margin: 0;
  padding: 0;
  margin-top: 20px;
    margin-left: 20px;
    font-size: normal;
    letter-spacing: 0.5px;
    line-height: 6px;
    
    width: 150px;
    height: 10px;
    margin-left: 8px;
    color: #999;
  
     margin-left: 15%;
      margin-top: 1%;
  }
  
  .audio-player{
    background-color: #fff;
  }


  .logo1{

    position: absolute;
    bottom: -0%;
    right: 510px; 


  }


  .logo2{

    position: absolute;
    bottom: 1%;
    right: 365px; 


  }


  .logo5{

    position: absolute;
    bottom: -0%;
    right: 250px; 
}

/*-------------------like------------------------------*/

.like__btn{

background: #0080ff;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  border-radius: 5px;
  color: #e8efff;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 10px 15px;

  position: absolute;
  bottom: 40%;
  right: 100px; 

}

