
body{

padding: 0;
margin: 0;
font-family: 'Roboto', sans-serif;
}
.hautpage nav{
  background-color: #160400;
  text-align: center;
  padding: 20px;
 }
.hautpage nav ul li {
list-style: none;
display: block;
display: inline;
margin: 50px;

}

nav a{
text-decoration: none;
color: white;
}


a:hover{
 background: white;
padding: 15px;

}

.a:active{
background: orange;
padding: 15px;

}



/*-----------haut--page------------*/
